<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G6 Cafe - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <section class = "g6logo">
        <div class = "g6logo">
            <img src="/static/images/g6logo.png" alt="g6logo">
        </div>
        </section>

        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('menu') }}">Menu</a>
            <a href="{{ url_for('tracker') }}">Tracker</a>
            <a href="{{ url_for('stores') }}">Find a Store</a>
            <a href="{{ url_for('cart') }}"><img src="{{ url_for('static', filename='images/cart.png') }}" height="50px" weight="50"></a>

        </nav>
    </header>

    <section class="promo">
        <div class="button-group">
        <span class="order-now">Order Now</span>
            <a href="stores.html">
             <button class="btn-delivery">Delivery</button>
        </a>
            <span class="or-text">or</span>
            <button class="btn-pickup">Pick Up</button>
        </div>
    </div>
    <div class="promo-content">
        <div class="promo">
            <img src="/static/css/home.png" alt="Promo Image">
        </div>
    </div>
</section>



</body>
</html>
