<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G6 Cafe - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <section class="g6logo">
    <div class="g6logo">
        <a href="{{ url_for('home') }}">
            <img src="/static/images/g6logo.png" alt="g6logo">
        </a>
    </div>
</section>

        <nav>
            <a href="{{ url_for('menu') }}">Menu</a>
            <a href="{{ url_for('cart') }}">
    <img src="{{ url_for('static', filename='images/cart.png') }}" height="50px" width="50">
    <span id="cart-count">0</span>
    </a>
        </nav>
    </header>
        <main>
        <form action="{{ url_for('search_receipt') }}" method="POST" class="search-invoice-form">
    <label for="order_id">Enter Order ID:</label>
    <input type="text" id="order_id" name="order_id" required>
    <button type="submit" class="search-button">Search</button>
</form>

    </main>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
