<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G6 Cafe - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

{% include "header.html" %}
        <main>
          <div class="container">
              <img src="{{ url_for('static', filename='images/trackorder.png') }}" alt="trackorder" class="tracker-image">
       <form class="search-invoice-form" method="POST" action="{{ url_for('search_receipt') }}">
           <h1 class="tracker">Track your order</h1>
    <label for="order_id">Enter Order ID number:</label>
    <select id="search_option" name="search_option" required>
        <option value="order_id">Receipt</option>
        <option value="track_order">Track My Order</option>
    </select>
    <input type="text" id="order_id" name="order_id" required>
    <button type="submit" class="search-button">Search</button>
</form>

    <!-- Div to display order status -->
    <div id="order_status" style="display:none;">
        <p>Your order status will appear here.</p>
    </div>
</div>
    </main>
{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
